@import "styles/mixins.scss";

.btn {
  background-color: var(--primary-5);
  border: 1px solid transparent;
  border-radius: var(--radius-16);
  box-shadow: var(--shadow-2);
  color: white;
  font-family: var(--ff);
  font-size: var(--fs-button);
  font-weight: var(--fw-bold);
  min-width: var(--spacing-14);
  padding: 12px var(--spacing-3);
  text-transform: capitalize;
  transition: background-color 150ms ease-in, box-shadow 150ms ease-in;
  user-select: none;
  @include respond-to("medium") {
    padding: var(--spacing-1) var(--spacing-3);
  }
  &:hover {
    background-color: var(--primary-6);
    text-decoration: underline;
  }
  &:active {
    background-color: var(--primary-7);
    box-shadow: none;
  }
  &:focus {
    outline: 2px dashed var(--primary-4);
    outline-offset: 2px;
  }
}

.btn-secondary {
  background-color: white;
  border: 1px solid var(--grey-3);
  color: var(--text-color);
  transition: border 150ms ease-in, background-color 150ms ease-in,
    box-shadow 150ms ease-in, color 150ms ease-in;
  &:hover {
    background-color: var(--primary-1);
    border: 1px solid var(--primary-3);
    color: var(--primary-7);
  }
  &:active {
    background-color: var(--primary-2);
    border: 1px solid var(--primary-5);
    box-shadow: none;
    color: var(--primary-7);
  }
}
