.stopwatch {
  align-items: center;
  background: white;
  border-radius: var(--rad-24);
  box-shadow: var(--shadow-large);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 448px;
  min-width: 296px; /* For the ~Aesthetic~ */
  min-height: 302px;
}
