.stopwatch {
  align-items: center;
  background: white;
  border-radius: var(--radius-16);
  box-shadow: var(--shadow-2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 448px;
  min-width: 275px; /* For the ~Aesthetic~ */
  min-height: 256px;
}
