.stopwatch {
  align-items: center;
  background: white;
  border-radius: var(--rad-24);
  box-shadow: var(--shadow-medium);
  display: flex;
  flex-direction: column;
  max-width: 450px;
  min-width: 297px; /* For the ~Aesthetic~ */
}
