@font-face {
  font-family: 'Inter';
  font-display: swap;
  src: url('../assets/Inter.woff2') format('woff2');
}

@font-face {
  font-family: 'Azeret Mono';
  font-display: swap;
  src: url('../assets/AzeretMono.woff2') format('woff2');
}
