:root {
  /* Spacing */
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
  --spacing-6: 48px;
  --spacing-7: 56px;
  --spacing-8: 64px;
  --spacing-10: 80px;
  --spacing-12: 96px;
  --spacing-14: 112px;
  --spacing-16: 128px;

  /* Radius */
  --radius-4: 4px;
  --radius-8: 8px;
  --radius-16: 16px;
  --radius-24: 24px;
  --radius-32: 32px;

  /* Typography */
  --ff: 'Inter', sans-serif;
  --ff-mono: 'Azeret Mono', monospace;

  // Adapted From Major Third Type Scale
  --fs-h1: 3.815rem;
  --fs-h2: 3.052rem;
  --fs-h3: 2.441rem;
  --fs-h4: 1.953rem;
  --fs-h5: 1.563rem;
  --fs-h6: 1.125rem;

  --fs-body: 1rem;
  --fs-small: 0.8rem;

  --fs-headline-small-screen: var(--fs-h2);
  --fs-headline-medium-screen: var(--fs-h1);
  --fs-headline-large-screen: var(--fs-h1);

  --fs-subheadline-small-screen: var(--fs-h6);
  --fs-subheadline-medium-screen: var(--fs-h5);
  --fs-subheadline-large-screen: var(--fs-h4);

  --fs-clock: 4rem;
  --fs-button: var(--fs-body);

  --lh-body: 1.2em;
  --lh-default: 1.4em;

  --fw-medium: 500;
  --fw-bold: 700;

  --break-point-xs: 370px;
  --break-point-small: 480px;
  --break-point-medium: 840px;
  --break-point-large: 960px;
  --break-point-xl: 1440px;

  // Colors
  --primary-1: #eceefe;
  --primary-2: #ddd7fc;
  --primary-3: #9a8ce8;
  --primary-4: #7865e0;
  --primary-5: #563fd8;
  --primary-6: #4532ad;
  --primary-7: #342682;

  --secondary-1: #f4fafd;

  --text-color: #282e31;

  --green-100: #e8f6ee;
  --green-300: #a3ddbc;

  --orange-100: #fff8eb;
  --orange-300: #ffe4af;

  --yellow-1: #fafae4;
  --yellow-3: #feffb3;

  --grey-3: #e0e0e0;
  --grey-4: #bdbdbd;
  --grey-6: #757575;
  --grey-8: #424242;

  /* Specialty */
  --filter-blur-xs: 24px;
  --filter-blur-l: 192px;
  --filter-blur-xl: 432px;

  --shadow-1: 0px 1px 3px 0px rgba(48, 49, 51, 0.1),
    0px 0px 1px 0px rgba(48, 49, 51, 0.05);
  --shadow-2: 0px 0px 1px rgba(48, 49, 51, 0.05),
    0px 2px 4px rgba(48, 49, 51, 0.1);
  --shadow-3: 0px 0px 1px rgba(48, 49, 51, 0.05),
    0px 8px 16px rgba(48, 49, 51, 0.1);
  --shadow-4: 0px 8px 16px 0px rgba(86, 63, 216, 0.1),
    0px 0px 1px 0px rgba(86, 63, 216, 0.05);
  --shadow-5: 0px 16px 24px 0px rgba(86, 63, 216, 0.1),
    0px 0px 1px 0px rgba(86, 63, 216, 0.05);
}
