:root {
  /* Spacing */
  --s-1: 8px;
  --s-2: 16px;
  --s-3: 24px;
  --s-4: 32px;
  --s-5: 40px;
  --s-6: 48px;
  --s-7: 56px;
  --s-8: 64px;
  --s-10: 80px;
  --s-12: 96px;
  --s-14: 112px;
  --s-16: 128px;

  /* Radius */
  --rad-4: 4px;
  --rad-8: 8px;
  --rad-16: 16px;
  --rad-24: 24px;
  --rad-32: 32px;

  /* Typography */
  --ff: "Inter", sans-serif;
  --ff-mono: "Roboto Mono", monospace;

  // Adapted From Major Third Type Scale
  --fs-h1: 3.815rem;
  --fs-h2: 3.052rem;
  --fs-h3: 2.441rem;
  --fs-h4: 1.953rem;
  --fs-h5: 1.563rem;
  --fs-h6: 1.125rem;
  --fs-body: 1rem;
  --fs-small: 0.8rem;

  --fs-headline-small-screen: var(--fs-h2);
  --fs-headline-medium-screen: var(--fs-h1);
  --fs-headline-large-screen: var(--fs-h1);

  --fs-subheadline-small-screen: var(--fs-h6);
  --fs-subheadline-medium-screen: var(--fs-h5);
  --fs-subheadline-large-screen: var(--fs-h4);

  --fs-clock: var(--fs-h1);
  --fs-button: var(--fs-body);

  --lh-default: 1.4em;
  --lh-body: 1.2em;

  --fw-medium: 500;
  --fw-bold: 700;

  --break-point-xs: 370px;
  --break-point-small: 480px;
  --break-point-medium: 840px;
  --break-point-large: 960px;
  --break-point-xl: 1440px;

  // Colors
  --color-primary-100: #eceefe;
  --color-primary-200: #ddd7fc;
  --color-primary-300: #9a8ce8;
  --color-primary-400: #7865e0;
  --color-primary-500: #563fd8;
  --color-primary-600: #4532ad;
  --color-primary-700: #342682;

  --color-secondary-100: #f4fafd;

  --color-text-default: #282e31;

  --color-accent-green-100: #e8f6ee;
  --color-accent-green-300: #a3ddbc;

  --color-accent-orange-100: #fff8eb;
  --color-accent-orange-300: #ffe4af;

  --color-accent-yellow-100: #fafae4;
  --color-accent-yellow-300: #feffb3;

  --color-neutral-300: #e0e0e0;
  --color-neutral-400: #bdbdbd;
  --color-neutral-600: #757575;
  --color-neutral-800: #424242;

  /* Specialty */
  --filter-blur-xs: 24px;

  --filter-blur-l: 192px;
  --filter-blur-xl: 432px;

  --shadow-extra-light: 0px 1px 3px 0px rgba(48, 49, 51, 0.1),
    0px 0px 1px 0px rgba(48, 49, 51, 0.05);
  --shadow-light: 0px 0px 1px rgba(48, 49, 51, 0.05),
    0px 2px 4px rgba(48, 49, 51, 0.1);
  --shadow-medium: 0px 0px 1px rgba(48, 49, 51, 0.05),
    0px 8px 16px rgba(48, 49, 51, 0.1);
  --shadow-large: 0px 8px 16px 0px rgba(86, 63, 216, 0.1),
    0px 0px 1px 0px rgba(86, 63, 216, 0.05);
  --shadow-extra-large: 0px 16px 24px 0px rgba(86, 63, 216, 0.1),
    0px 0px 1px 0px rgba(86, 63, 216, 0.05);
}
