.title {
  border-bottom: var(--border-dark-thick);
  display: inline-block;
  font-family: var(--ff);
  font-weight: var(--fw-bold);
  font-size: var(--fs-medium);
  line-height: var(--lh-default);
  margin-bottom: var(--p-3);
}
