@import "styles/mixins.scss";

.main-content {
  align-items: center;
  display: flex;
  justify-content: center;
  & > * {
    flex: 1 0 auto;
  }
}

.heading-content {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 var(--s-2) var(--s-2) 0;
  user-select: none;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--break-point-xl);
  min-height: 100vh;
  padding: var(--s-4) var(--s-4) var(--s-4) var(--s-4);
  position: relative;
  width: 100%;
  @include respond-to("small") {
    justify-content: space-evenly;
  }
  @include respond-to("medium") {
    flex-direction: row;
  }
}

.page-bg-blur {
  background: var(--color-accent-green-100);
  filter: blur(200px);
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}
