@import 'styles/mixins.scss';

.main-content {
  display: grid;
  place-content: center;
}

.heading-content {
  display: grid;
  place-content: center;
  padding: var(--spacing-5) 0 var(--spacing-2) 0;
  @include respond-to('medium') {
    padding: 0 var(--spacing-2) 0 0;
  }
}

.home-page {
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  min-width: map-get($breakpoints, 'xs');
  padding: var(--spacing-4);
  position: relative;
  @include respond-to('small') {
    justify-content: space-evenly;
  }
  @include respond-to('medium') {
    flex-direction: row;
  }
}
