.control-container {
  background: var(--color-secondary-100);
  border-radius: 0 0 var(--rad-24) var(--rad-24);
  padding: var(--s-3) var(--s-3);
  width: 100%;
}

.controls-button-group {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  & > button {
    width: 40%;
  }
  & > :first-child {
    margin-right: 0px;
  }
}
