.control-container {
  background: var(--secondary-1);
  border-radius: 0 0 var(--radius-24) var(--radius-24);
  padding: var(--spacing-3) var(--spacing-3);
  width: 100%;
}

.controls-button-group {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  & > button {
    width: 40%;
  }
  & > :first-child {
    margin-right: 0px;
  }
}
