body {
  position: relative;
}

.app {
  background-color: white;
  border-radius: var(--rad-2);
  box-shadow: var(--shadow);
  display: inline-block;
  margin: 50px auto;
  min-width: 290px;
  padding: var(--p-3) var(--p-4);
  user-select: none;
}
