.digit {
  display: inline-block;
  font-family: var(--ff-mono);
  font-weight: var(--fw-bold);
  font-kerning: none;
  letter-spacing: 0ch;
  line-height: 0;
  padding: 0;
  will-change: opacity, transform;
}

@media (prefers-reduced-motion: reduce) {
  .animate-digit {
    animation: 250ms animate-digit-entrance-with-no-motion ease-in;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .animate-digit {
    animation: 250ms animate-digit-entrance-with-motion ease-in;
  }
}

@keyframes animate-digit-entrance-with-motion {
  0% {
    transform: translate(0px, calc(-1 * var(--spacing-5)));
    opacity: 0;
  }
  70% {
    transform: translate(0px, var(--spacing-2));
    opacity: 0.6;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes animate-digit-entrance-with-no-motion {
  0% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}